<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Left Food 買家首頁</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/themify-icons/css/themify-icons.css') }}">
    <!-- <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css"> -->

    <!-- Bootstrap + Rubic main styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rubic.css') }}">
	<!-- <link rel="stylesheet" href="assets/css/rubic.css"> -->
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><strong class="text-primary">Left</strong><span class="text-light">Food</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link">{{ name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="account">帳號管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">登出</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#review">申辦帳號</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <header class="header d-flex justify-content-center">
      <div class="container text-center">
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <h2 class="display-4 has-line">消費者</h6>
          <div id="current_date">
            {{ date }}
            <!-- <script>
            date = new Date();
            year = date.getFullYear();
            month = date.getMonth() + 1;
            day = date.getDate();
            document.getElementById("current_date").innerHTML = year + "/" + month + "/" + day;
            </script> -->
            <br/>
            <br/>
            <br/>

          <div class="row">
              <div class="col-lg-4">
                  <div class="circle-100 mb-3"><a href='search'><i class="ti-search"></i></a></div>
                  <a href='search'><h6 class="title mb-3">剩食查詢</h6></a>
                  
              </div>
              <div class="col-lg-4">
                  <div class="circle-100 mb-3"><a href='cart_info'><i class="ti-shopping-cart"></i></a></div>
                  <a href='cart_info'><h6 class="title mb-3">購物車</h6></a>
                  
              </div>
              <div class="col-lg-4">
                  <div class="circle-100 mb-3"><a href='record'><i class="ti-marker-alt"></i></a></div>
                  <a href='record'><h6 class="title mb-3">訂購紀錄</h6></a>
                  
              </div>
          </div>
      </div>
    </header>
</body>
</html>